{% extends 'layout.html' %}

{% block body %}
    <h1>Read Me</h1><hr>

    <h5>Home Page</h5><hr>
        <p>Visit following link for the home page where you will find the summary information of this project.<br/><a href="http://ipro70.pythonanywhere.com/">http://ipro70.pythonanywhere.com/</a>
        <br/>Here you will find the information about what exactly this web site for.</p>
    <br/>
    <h5>Server Page</h5><hr>
        <p>It is better to use example first to understand how will be the input exactly.</p>
    <h5>Download Page</h5><hr>
    <h5>Citation Page</h5><hr>
    <h5>Authors Page</h5><hr>
{% endblock %}